html {
    font-size: 16px; /* 16px = 1rem */
}
body {
    padding: 1rem;
    background-color: rgb(211, 237, 155);
    text-align: center;
    color: white;
    font-style: italic;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 1.5rem;
    box-sizing: border-box;
    border: 2px solid white;
}
/*link a riposo*/
a, a:link { 
    color: green;
}
a:visited {
    color: rgb(100, 0, 0);
}
a:hover, a:focus {
    color: rgb(66, 38, 205);
}

a:active {
    color: yellow;
}
