/* aos.css - Versione Lite */

/* 1. Nascondiamo tutto all'inizio */
[data-aos] {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s; /* Durata standard */
}

/* 2. Quando il JS aggiunge questa classe, l'elemento appare */
[data-aos].aos-animate {
    opacity: 1;
    transform: translate(0, 0) scale(1) rotate(0);
}

/* 3. Le Animazioni */
[data-aos="fade-up"] { transform: translateY(100px); }
[data-aos="flip-left"] { transform: perspective(500px) rotateY(-90deg); }
[data-aos="zoom-in"] { transform: scale(0.5); }