html {
    font-size: 16px;
    /* 16px = 1rem */
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    /* Aggiungiamo spazio in fondo per permettere lo scorrimento */
    padding-bottom: 400px;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 60px 20px;
    margin-bottom: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Centra il contenuto nella pagina */
    display: flex;
    flex-direction: column;
    align-items: center; /* Allinea i box al centro */
}

/* Stile generale per tutti i rettangoli */
.box {
    width: 300px;
    height: 200px;
    margin-bottom: 120px; /* Distanza verticale tra i box */
    
    /* Per centrare il testo dentro il box */
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Colori specifici per ogni box */
.box-rossa {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

.box-verde {
    background: linear-gradient(45deg, #11998e, #38ef7d);
}

.box-blu {
    background: linear-gradient(45deg, #2193b0, #6dd5ed);
}