html {
    font-size: 16px;
    /* 16px = 1rem */
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    text-align: center;
    font-size: 10rem;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.3);
        border-radius: 100%;
    }

    50% {}

    100% {
        transform: scale(1.5);
    }
}

p {
    font-size: 20rem;
    text-align: center;
}