html {
    font-size: 16px; /* 16px = 1rem */
}
#page {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden;
}

body {
    background-color:rgb(31, 112, 44);
    margin: 0;
    
}

.back-yellow{
    width: 80%;
    height: 90%;
    background-color: #bc800f; 
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
}
.coppa {
    position: absolute;
    width: 630px; 
    height: fit-content; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5; 
    animation: auraPulsante 3s ease-in-out infinite, 
    fluttua 4s ease-in-out infinite;
}
   
@keyframes auraPulsante {
    0% { filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.6)); }
    50% { filter: drop-shadow(0 0 25px rgba(255, 215, 0, 1)); }
    100% { filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.6)); }
}


@keyframes fluttua {
    0%, 100% { transform: translate(-50%, -50%); }
    50% { transform: translate(-50%, -55%); } /* Si alza leggermente */
}


.italia {
    position: absolute;
    width: 161px; 
    height: 250px;
    top: 100px;
    left: 33px; 
    z-index: 4; 
    
}
.spagna {
    position: absolute;
    width: 180px; 
    height: 180px;
    top: 105px; 
    right: 15px;
    z-index: 4;  
}
.argentina {
    position: absolute;
    width: 185px; 
    height: 274px;
    bottom: 80px; 
    left: 15px;
    z-index: 4;
}

.francia {
    position: absolute;
    width: 156px;
    height: 173px;
    bottom: 179px; 
    right: 27px;
    z-index: 4;
}
.titolo{
    position: absolute;
    top: -1px;
    width: 291px;
    height: 62px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
    color: white; 
    font-size: 22px;
    font-weight: bold;
    font-family: 'Futura', 'Arial Narrow', sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 2s ease-out; text-shadow: 1,5s ease-out;
    text-shadow:
    0 0 5px tomato,
    0 0 10px tomato,
    0 0 24px tomato,
    0 0 48px tomato,
    0 0 84px tomato;

}

.titolo:hover .titolo__inner {
    animation: poolMove 3s ease-in-out infinite;
    color: whitesmoke;
    text-shadow:
    0 0 5px tomato,
    0 0 10px tomato,
    0 0 24px tomato,
    0 0 48px tomato,
    0 0 84px tomato;

}
@keyframes poolMove {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
       
    #page {
        width: 100vw;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; 
    }

    body {
        background-color:rgb(31, 112, 44);
        margin: 0;
        
    }

    .back-blue{
        width: 80%;
        height: 80%;
        background-color: #bc800f; 
        position: absolute; 
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%); 
        z-index: 2; 
    }
    .coppa {
        position: absolute;
        width: 736px; 
        height: fit-content; 
        top: 50%; 
        left: 50%;
        z-index: 5; 
    }
    .italia {
        position: absolute;
        width: 253px; 
        height: 350px;
        top: 38px;
        left: 455px; 
        z-index: 4; 
        
    }
    .spagna {
        position: absolute;
        width: 271px; 
        height: 180px;
        top: 52px; 
        right: 462px;
        z-index: 4;  
    }
    .argentina {
        position: absolute;
        width: 280px; 
        height: 274px;
        bottom: 75px; 
        left: 455px;
        z-index: 4;
    }

    .francia {
        position: absolute;
        width: 219px;
        height: 397px;
        bottom: -25px; 
        right: 500px;
        z-index: 4;
    }
    .titolo{
    position: relative;
    z-index: 10; 
    height: max-content;
    color: white; 
    font-size: 44px;
    font-weight: bold;
    font-family: 'Futura', 'Arial Narrow', sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    white-space: nowrap;
    left: 716px;
    }

}