body {
    background-color: rgb(200, 180, 250);
    font-family:Arial, Helvetica, sans-serif
}

h1 {
    font-size:40 px;
    color: rgb(85, 18, 160);
}
p {
    font-size: 25 px;
    color: black;
}

#page {
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

#about-me {
    background-color: hsla(0, 0%, 0%, 0.2)
}
.section-noioso {
    padding: 46px;
}
.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* // Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { .gallery {
    flex-direction: row;
    justify-content: space-between;
    } 
    .gallery figure {
        width: 30%;
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }